In [3]:
# %pip install pandas
# %pip install matplotlib
# %pip install scipy
# %pip install seaborn
# %pip install numpy

In [4]:
import pandas
import matplotlib.pyplot
import seaborn
import numpy

In [6]:
data = pandas.read_csv( '../data/Chatbots Impact on University Learning/chatbots_cleaned.csv' )
data.head()

,Timestamp,Q1,Q2,Q3,Q4,Q5.1,Q5.2,Q5.3,Q5.4,Q5.5,...,Q8.2,Q8.3,Q8.4,Q8.5,Q9.1,Q9.2,Q9.3,Q9.4,Q9.5,Q10
0,5.14.2023 21:22:19,Master,International Economic Relations,Female,Îften,Agree,Agree,Strongly Agree,Strongly Agree,Agree,...,Strongly Agree,Strongly Agree,Agree,Strongly Agree,Agree,Strongly Agree,Strongly Agree,Agree,Agree,NaN
1,5.15.2023 8:45:52,Bachelor,International Economic Relations,Female,Sometimes,Disagree,Agree,Disagree,Strongly Disagree,Neutral,...,Agree,Agree,Disagree,Neutral,Neutral,Agree,Neutral,Disagree,Disagree,NaN
2,5.15.2023 9:54:15,Bachelor,International Economic Relations,Female,Rarely,Neutral,Neutral,Neutral,Disagree,Neutral,...,Agree,Agree,Neutral,Neutral,Neutral,Neutral,Disagree,Disagree,Neutral,NaN
3,5.15.2023 15:17:41,Bachelor,International Economic Relations,Female,Rarely,Agree,Agree,Agree,Disagree,Agree,...,Agree,Agree,Agree,Agree,Agree,Agree,Neutral,Agree,Agree,NaN
4,5.15.2023 15:19:02,Bachelor,International Economic Relations,Female,Sometimes,Agree,Agree,Neutral,Disagree,Agree,...,Agree,Agree,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,NaN